# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Fichiers générés par le programme (NE PAS les commiter, garder seulement les exemples)
# message_encrypte.txt
